:root {
    --main-bg-color: #1c232d;
    --second-bg-color: #e7ebea;
    --box-bg-color: #f2f6ff;
    --error-bg-color: #b22f2f;

    --border-color: #c4c4c4;
    --errro-border-color: #811a00;

    --main-button-color: #526dd5;
    --second-button-color: rgb(69, 176, 248);

    --second-text-color: #707275;
    --title-text-color: #1b232d;
}

body {
    background: var(--main-bg-color);
    font-family: "Arial";
}

.section {
    height: fit-content;
}

.form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.date-input {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 40%;
}

.box-input,
fieldset {
    width: 100%;
    font-size: 14px;
    background: var(--second-bg-color);
    border: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-left: 10px;
    border-radius: 5px;
    height: 50px;
    border-style: solid;
}

legend {
    font-size: 16px;
    background: var(--second-bg-color);
    border-radius: 5px;
    padding: 3px;
}

.box-prev-button {
    border-radius: 5px;
    background: var(--main-button-color);
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    width: 20%;
    min-width: 150px;
    height: 51px;
    padding: 0;
    color: white;
    border: 0;
    outline: 0;
    border-style: solid;
}

input.box-prev-button:hover {
    border-color: var(--border-color);
    border-width: 2px;
    transition: all 0.5s;
}

.calendar-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2px;
    overflow: hidden;
}

.calendar-container {
    width: 100%;
    height: 100%;
    display: grid;
    column-count: 6;
    column-gap: 10px;
    padding-inline: 10px;

    border-radius: 5px;
    border-width: 5px;
    border-color: var(--main-button-color);
    border-style: solid;
}

.appointment-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--title-text-color);
    padding: 2px;
    border-radius: 5px;
}

.appointment-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appointment-date {
    color: var(--second-bg-color);
    padding: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    border-width: 0;
    border-bottom: 5px;
    border-style: solid;
    margin-bottom: 5px;
    border-color: var(--main-button-color);

}

.appointment-time {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: var(--main-button-color);
    border-width: 1px;
    border-style: solid;
    margin: 1px;
    padding: 2px;
    padding-block: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    color: var(--title-text-color);
    box-sizing: initial;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    -webkit-rtl-ordering: logical;
}

span.appointment-time{
    cursor: pointer;
}

span.appointment-time:hover {
    background-color: var(--main-button-color);
    border-color: var(--border-color);
    transition: all 0.5s;
}

.client-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

span.appointment-time:hover .client-info {
    height: 100%;
    transition: all 0.5s;
}

.client-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.client-comment {
    font-size: 14px;
    margin-bottom: 5px;
    font-style: italic;
}

.week1 {
    grid-column: 1;
}

.week2 {
    grid-column: 2;
}

.week3 {
    grid-column: 3;
}

.week4 {
    grid-column: 4;
}

.week5 {
    grid-column: 5;
}

.week6 {
    grid-column: 6;
}

.week7 {
    grid-column: 7;
}

p.errorMessage {
    background-color: var(--error-bg-color);
    border: var(--errro-border-color) 1px solid;
    margin-bottom: 25px;
    padding: 5px 10px;
    height: fit-content;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 5px;
    width: 50%;
    color: white;
    text-overflow: ellipsis;
}