body {
    background: var(--main-bg-color);
    font-family: "Arial";
}

.section {
    height: fit-content;
    padding-top: 0;
}

.search-input {
    width: fit-content;
    font-size: 14px;
    margin: 10px;
    background: var(--second-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    height: 50px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards_item {
    background-color: var(--third-button-color);
    border-color: var(--second-button-color);
    flex-basis: 25%;
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-width: 3px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.17),
        0 2px 4px rgba(0, 0, 0, 0.17),
        0 4px 8px rgba(0, 0, 0, 0.17),
        0 8px 16px rgba(0, 0, 0, 0.17),
        0 16px 32px rgba(0, 0, 0, 0.17),
        0 32px 64px rgba(0, 0, 0, 0.17);
    cursor: pointer;
}

.card_header {
    height: 50px;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
    padding: 2px;
    box-shadow: 0px -2px 0px 0px var(--second-button-color) inset;
}

.client_icon {
    padding: 3px;
    flex-grow: 1;
}

.client_name {
    padding: 3px;
    font-size: 20px;
    flex-grow: 2;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--title-text-color)
}

.client_arrow {
    padding: 3px;
    flex-grow: 1;
    opacity: 0;
}

.client_info_recto {
    margin-top: 3px;
    overflow: hidden;
    height: fit-content;
    max-height: 500px;
    justify-content: flex-start;
    width: 100%;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.client_info_verso {
    margin-top: 3px;
    height: fit-content;
    max-height: 0px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.card_dates {
    color: rgb(240, 247, 255);
    font-size: 14px;
    column-count: 3;
    column-gap: 1rem;
    width: 100%;
}

.card_hours {
    margin-bottom: 5px;
    text-align: left;
}

.date {
    border-radius: 10px;
    margin-bottom: 5px;
    break-inside: avoid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.info {
    padding-left: 10px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.cards_item:hover .client_info_recto {
    opacity: 0;
    max-height: 0px;
    transition: all 0.5s ease-in-out;
}

.cards_item:hover .client_info_verso {
    opacity: 100;
    max-height: 500px;
    transition: max-height 0.5s ease-in-out, opacity 0.3s 0.5s ease-in-out;
}

.cards_item:hover .client_arrow {
    opacity: 100;
    transition: all 0.5s 0.1s ease-in-out;
}

.info_def {
    margin: 3px;
    width: 10%;
    max-width: 40px;
}

.info_office {
    font-style: italic;
    display: inline;
}

.info_num {
    font-weight: bold;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}

.enabled {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 70px;
    padding: 10px;
    width: 100%;
}

.rect-enabled {
    width: fit-content;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    border-color: var(--second-button-color);
    border-width: 3px;
    border-style: solid;
    overflow: hidden;
}

.enabled-icon {
    height: 100%;
}

.enabled-text {
    font-size: 20px;
    color: var(--second-bg-color);
    margin: 10px;
}

p.errorMessage {
    background-color: var(--error-bg-color);
    border: var(--errro-border-color) 1px solid;
    padding: 5px;
    height: fit-content;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 5px;
    width: fit-content;
    color: white;
    text-overflow: ellipsis;
}